.body{
    background-color: #ffff;
    justify-content: flex-end;
    justify-content: center;
    align-items: center;
    display: flex;
    border: 1px solid black;
    margin-top: 30px;
    
}
.loginForm
{
    width: 500px;
    margin-top: 1%;
    margin-bottom : 1%;
    border: 1px solid black;
    padding: 25px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
.btn{
    margin-top: 20px !important; 
}
.form-control{
    margin-bottom: 15px;
}
.login{
    margin-left: 1650px;
}
.error{
    margin-left:15%;
    width:15%;
    text-align:center;
    margin-top:20px;
    /* margin-bottom:10px; */
    border: 1px solid black;
    padding: 5px;
    background-color: azure;

}
.error h1{
    color:red;
    font-size: 20px;
    text-align: center;

}
.mainerror{
    display: flex;
    margin-left:10px;
}