.card{
    width: fit-content;
    /* height: 10px;  */
    border: 2px solid black;
    /* background-color: red; */
    align-items: center;
    text-align: center;
    margin-top:2px;
    position: absolute;
   
} 
.containers .image2{
    width: 200px;
    height: 300px;
    padding:25px;
    margin-left: 15%;
   
}
.book-container{
   /* border: 2px solid black; */
   width: 300px;
   height: fit-content;

   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   /* margin-left: 45px; */
}/* 
.containers{
    width:95%;
    
} */
.book{
    display: flex;
    flex-wrap: wrap;
    margin-top:15px;
    margin-left: 100px;
    width:90%;
    /* border: 1px solid black; */
    justify-content: space-around;
}
.containers{
    width: fit-content;
}
.containers .image1{
    position: absolute;
    
    z-index: -1;
    /* width: fit-content; */
    width: 15.5%;
      /* /height: 10%; */
    padding: 3px;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.4);
  /*   backdrop-filter: blur(10px); */
  -webkit-backdrop-filter: blur(5px);
    filter: blur(5px);
}
.item{
    display: flex;
    margin-left: 25%;
}
.item button{
    margin-left: 10%;
}
.item1{
    display: flex;
    margin-left: 10%;
}
.item1 button{

    margin-left:45px;
}
.right{
    margin-left:650px;
}
.left{
    margin-left:650px !important;
}
.login{
    margin-left:1650px;
}
.pagination{
     align-self:flex-end; 
    padding-top:30px;
    text-align: center;
    margin-left:50%;
}
.pagination a{
    margin-left:15px;
    color: #00695c;
    padding:5px;
    border:1px solid #00695c
    
}
.pagination a:hover,
.pagination a:active {
    background-color: #00695c;
    color: white;
}
.card-text{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient:vertical ;
    overflow: hidden;
}