<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .img{
            width:200px;
            height:240px;
            border: 1px solid black;
            background: rgb(34,193,195);
background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
            
        }
        img{
            width:50%;
            padding-top: 25%;
            padding-bottom: 35%;
            padding-left: 23%;
        }
    </style>
</head>
<body>
    <div class="img">
        <img src="https://m.media-amazon.com/images/I/61Cb-k4gBfL._SX323_BO1,204,203,200_.jpg" alt="">
    </div>
</body>
</html>